/**
*   .page的父元素最好设置一个背景颜色，避免切换时闪烁
*   .page的父元素设置景深 perspective: 1000px; 才能实现3D效果的Z轴推进
*/

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    /*让页面隐藏*/
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    /*动画配置*/
    -webkit-animation-duration: 355ms;
    -moz-animation-duration: 355ms;
    -o-animation-duration: 355ms;
    -ms-animation-duration: 355ms;
    animation-duration: 355ms;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.in-slideBefore {
    -webkit-animation-name: slideBefore;
    -moz-animation-name: slideBefore;
    -o-animation-name: slideBefore;
    -ms-animation-name: slideBefore;
    animation-name: slideBefore;
}

.in-slideAfter {
    -webkit-animation-name: slideAfter;
    -moz-animation-name: slideAfter;
    -o-animation-name: slideAfter;
    -ms-animation-name: slideAfter;
    animation-name: slideAfter;
}


/*Z轴推进*/

@-webkit-keyframes slideBefore {
    from {
        -webkit-transform: translateZ(-1000px);
    }
    to {
        -webkit-transform: translateZ(0);
    }
}

@-moz-keyframes slideBefore {
    from {
        -moz-transform: translateZ(-1000px);
    }
    to {
        -moz-transform: translateZ(0);
    }
}

@-o-keyframes slideBefore {
    from {
        -o-transform: translateZ(-1000px);
    }
    to {
        -o-transform: translateZ(0);
    }
}

@-ms-keyframes slideBefore {
    from {
        -ms-transform: translateZ(-1000px);
    }
    to {
        -ms-transform: translateZ(0);
    }
}

@keyframes slideBefore {
    from {
        transform: translateZ(-1000px);
    }
    to {
        transform: translateZ(0);
    }
}


/*Z轴回退*/

@keyframes slideAfter {
    from {
        transform: translateZ(1000px);
    }
    to {
        transform: translateZ(0);
    }
}


/*向下滑动*/

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


/*向上滑动*/

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}


/*向左滑动*/

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


/*向右滑动*/

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}


/*顺时针旋转*/

@keyframes slideUpTime {
    from {
        transform: rotateZ(-360deg);
    }
    to {
        transform: rotateZ(0);
    }
}


/*逆时针旋转*/

@keyframes slideDownTime {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0);
    }
}


/*淡入*/

@keyframes fadeIn {
    from {
        transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*X轴翻转*/

@keyframes scaleX {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}


/*Y轴翻转*/

@keyframes scaleY {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
